
*.d
*.o
*.crf
example/build/mdk/Out/Blinky.axf
example/build/mdk/Out/Blinky.build_log.htm
example/build/mdk/Out/Blinky.hex
example/build/mdk/Out/Blinky.htm
example/build/mdk/Blinky.uvguix.gabwan01
example/build/mdk/Out/Blinky.lnp
example/build/mdk/Out/Blinky.map
example/build/mdk/Out/Blinky_V2M-MPS2.dep
example/build/mdk/Out/ExtDll.iex
example/build/mdk/Out/startup_cmsdk_cm7.lst
*.TMP
example/build/mdk/Out/Blinky.fed
*._2i
example/build/mdk/Out/Blinky.l2p
